## Tuple:

In [1]:
#Tuple
#Tuples are used to store multiple items in a single variable.

#Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

#A tuple is a collection which is ordered and unchangeable.

#Tuples are written with round brackets.

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
# To determine how many items a tuple has, use the len() function

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
# A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(type(tuple1))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [8]:
# Using the tuple() method to make a tuple

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(thistuple[1])
print(thistuple[0:2])

('apple', 'banana', 'cherry')
banana
('apple', 'banana')

In [9]:
# Change Tuple Values
# Convert the tuple into a list to be able to change it

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [10]:
# Loop Through a Tuple

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [11]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [12]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [13]:
# Multiply the fruits tuple by 2

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Python Sets

In [14]:
#Sets are used to store multiple items in a single variable.

#Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

#A set is a collection which is unordered, unchangeable*, and unindexed.

# Sets are written with curly brackets.


thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [15]:
# Duplicate values will be ignored

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [17]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))
print(type(thisset))

3
<class 'set'>

In [18]:
#Add Any Iterable

# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

In [19]:
# Loop Sets

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

### Python Dictionaries

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))
x = thisdict["model"]
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3
<class 'dict'>
Mustang

In [25]:
#Using the dict() method to make a dictionary:


thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [27]:
# The keys() method will return a list of all the keys in the dictionary.

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [28]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [29]:
# The values() method will return a list of all the values in the dictionary.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [30]:
# o determine if a specified key is present in a dictionary use the in keyword

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [31]:
# The pop() method removes the item with the specified key name

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [32]:
# The del keyword removes the item with the specified key name


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [33]:
### Loop Through a Dictionary:
# Print all key names in the dictionary, one by one:

for x in thisdict:
    print(x)

brand
year

In [36]:
# Print all values in the dictionary, one by one:

for x in thisdict:
    print(thisdict[x])
  
# The same Result

for x in thisdict.values():
    print(x)

Ford
1964
Ford
1964

In [37]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x, y)

brand Ford
year 1964

In [39]:
### Nested Disctionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)


#The same result

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}


print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

### Python Conditions for "if" statements

In [ ]:
""""
Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
""""

### The while Loop:

In [40]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [41]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3